asttokens
Brotli
certifi==2025.4.26
cffi
charset-normalizer
comm
contourpy==1.3.2
cycler
debugpy
decorator
DeepXDE==1.1.4
entrypoints
exceptiongroup
executing
filelock==3.13.1
fonttools==4.57.0
fsspec==2024.6.1
future
h5py
hdf5storage==0.2.0
hydra-core
idna==3.10
ipykernel
ipython
jax==0.6.0
jax-cuda12-pjrt==0.6.0
jax-cuda12-plugin==0.6.0
jaxlib==0.6.0
jedi
Jinja2==3.1.4
joblib
jupyter-client
jupyter_core
kiwisolver
llvmlite==0.44.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline
ml_dtypes==0.5.1
mpmath==1.3.0
nest_asyncio
networkx==3.3
numba==0.61.2
numpy==1.26.4
omegaconf
opt_einsum==3.4.0
packaging
pandas==2.2.3
parso
pdebench
pexpect
pickleshare
pillow
platformdirs
portalocker==3.1.1
prompt_toolkit 
psutil
ptyprocess
pure_eval
pyaml
pycparser
Pygments
pyparsing
pyro-api==0.1.2
pyro-ppl==1.8.6
PySocks
python-dateutil
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
pyzmq
requests
scikit-learn
scikit-optimize
scipy==1.15.2
six
stack_data
sympy==1.13.3
tabulate==0.9.0
termcolor==3.1.0
thop==0.1.1.post2209072238
threadpoolctl
tornado
tqdm==4.67.1
traitlets
triton==3.3.0
typing_extensions
tzdata==2025.2
urllib3
wcwidth
yacs==0.1.8
wandb
einops